<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask</title>
</head>
<body>
   <h1>Welcome to Flask</h1> 

   {% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul>
      {% for message in messages %}
        <li>{{ message }}</li>
      {% endfor %}
    </ul>
  {% endif %}
{% endwith %}


   <form method = 'POST' enctype="multipart/form-data">
    {{form.hidden_tag()}}
    {{form.file()}}
    {{form.submit()}}
   </form>
   <h3>Available Files</h3>
<ul>
    {% for file in files %}
        <li>
            {{ file }}
            <a href="/download/{{ file }}">Download</a>
        </li>
    {% endfor %}
</ul>

</body>
</html>